<h2 mat-dialog-title>Insert Details</h2>
<mat-dialog-content>
  <form [formGroup]="myForm" class="d-flex flex-column gap-3">
    <mat-form-field appearance="outline" class="mt-2">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="myForm.get('username')?.hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="myForm.get('username')?.hasError('minlength')">
        Minimum 3 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="myForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Number</mat-label>
      <input matInput type="number" formControlName="number" />
      <mat-error *ngIf="myForm.get('number')?.hasError('required')">
        Number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="myForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="myForm.get('email')?.hasError('email')">
        Enter a valid email
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeModal()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="myForm.invalid"
  >
    Save
  </button>
</mat-dialog-actions>
